[submodule "site/php/php-sigep"]
	path = site/php/php-sigep
	url = https://github.com/stavarengo/php-sigep.git
[submodule "site/github-buttons"]
	path = site/github-buttons
	url = https://github.com/mdo/github-buttons.git
