AddHandler php53-script .php
suPHP_ConfigPath /home/phpsigepstavarengo/

DirectoryIndex index.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
