@import url(//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

/** jumbotron **/

.well
{
    line-height: 3;
}

.jumbotron
{
    background: #F16C49;
    background: no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F16C49), color-stop(100%, #E66847));
    background: -webkit-linear-gradient(top, #F16C49 0%, #E66847 100%);
    background: -ms-linear-gradient(top, rgba(241, 108, 73, 1) 0%, rgba(230, 104, 71, 1) 100%);
    background: -moz-linear-gradient(top, rgba(241, 108, 73, 1) 0%, rgba(230, 104, 71, 1) 100%);
    background: -o-linear-gradient(top, rgba(241, 108, 73, 1) 0%, rgba(230, 104, 71, 1) 100%);
    background: -khtml-gradient(linear, left top, left bottom, from(rgba(241, 108, 73, 1) 0%), to(rgba(230, 104, 71, 1) 100%));
    background: linear-gradient(to bottom, #F16C49 0%, #E66847 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c49', endColorstr='#e66847', GradientType=0);

    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans', Arial, sans-serif;
    text-align: center;
    padding: 0;
}

.jumbotron .inner
{
    background: rgba(0, 0, 0, 0) url(../img/grid-18px.png) top center;
    padding: 25px 30px 40px;
}

.jumbotron a
{
    color: #FFF;

}

.jumbotron a:hover,
.jumbotron a:focus
{
    text-decoration: none;
}

.jumbotron .navbar
{
    margin-bottom: 0;
}

.jumbotron .navbar li a:hover,
.jumbotron .navbar li a:focus
{
    background-color: transparent;
    text-decoration: underline;
}

.jumbotron .navbar li.price-lnk
{
    border-bottom: 2px white solid;
}

.jumbotron .navbar ul
{
    float: right;
}
.jumbotron .navbar li
{
    float: left;
}
.jumbotron .navbar li a
{
    font-size: 16px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.jumbotron.section
{
    margin-bottom: 85px;
}

.jumbotron h1
{
    font-weight: 800;
    font-size: 72px;
    margin-bottom: 29px;
}

.jumbotron .p-b
{
    border-top: 2px solid white;
    padding-top: 10px;
}

.jumbotron p
{
    font-weight: 300;
    font-size: 36px;
}

.jumbotron .social
{
    padding: 0 0 20px 50px;
}

/** jumbotron END **/

/** acoordio addresses **/

@media (max-width: 991px) { 
    .panel-group>div+div {
        margin-top: 5px;
    }
}

/** acoordio addresses END **/



/** custom alert - http://bootsnipp.com/snippets/featured/alert-messages-like-the-docs **/

.alert-message
{
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message h4
{
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child
{
    margin-bottom: 0;
}
.alert-message code
{
    background-color: #fff;
    border-radius: 3px;
}
.alert-message-success
{
    background-color: #F4FDF0;
    border-color: #3C763D;
}
.alert-message-success h4
{
    color: #3C763D;
}
.alert-message-danger
{
    background-color: #fdf7f7;
    border-color: #d9534f;
}
.alert-message-danger h4
{
    color: #d9534f;
}
.alert-message-warning
{
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}
.alert-message-warning h4
{
    color: #f0ad4e;
}
.alert-message-info
{
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.alert-message-info h4
{
    color: #5bc0de;
}
.alert-message-default
{
    background-color: #EEE;
    border-color: #B4B4B4;
}
.alert-message-default h4
{
    color: #000;
}
.alert-message-notice
{
    background-color: #FCFCDD;
    border-color: #BDBD89;
}
.alert-message-notice h4
{
    color: #444;
}

/** custom alert END **/

.the-body > .row
{
    margin-bottom: 100px;
}

.the-body > .row h1
{
    padding-bottom: 9px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #EEE;
    padding-top: 20px;
}

#modal-body pre
{
    max-height: 490px;
}

ul.extra-margin-bottom li
{
    margin-bottom: 5px;
}

[class*=load-spin-], [class*=load-bar-]
{
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.load-spin-xlarge
{
    background-image: url(../img/gif/spin64black.gif?20132411);
    width: 64px;
    height: 64px
}

label small
{
    font-size: 10px
}
